
.global_footer {
    background: #fff none repeat scroll 0 0;
    border-top: 1px solid #f1f1f1;
    height: 300px;
    width: 100%;
}
.global_footer .footer_inner {
    height: 239px;
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.global_footer .footer_inner .inner_link {
    height: 239px;
    margin: 0 auto;
    width: 1120px;
}
.global_footer .footer_inner .inner_link dl {
    float: left;
    margin-right: 140px;
    margin-top: 54px;
    text-align: left;
    width: 140px;
}
.global_footer .footer_inner .inner_link dl dt {
    color: #757e91;
    font-size: 16px;
}
.global_footer .footer_inner .inner_link dl dd {
    margin-top: 7px;
    position: relative;
}
.global_footer .footer_inner .inner_link dl dd a {
    color: #757e91;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 43px;
    width: 140px;
}
.global_footer .footer_inner .inner_link .wechat_img {
    background: rgba(0, 0, 0, 0) url("/page/img/img_e90c7da0_wechatQR.png") no-repeat scroll 0 10px;
    height: 95px;
}
.global_footer .footer_inner .inner_link .app_img {
    background: rgba(0, 0, 0, 0) url("/page/img/img_e90c7f0c_appQR.png") no-repeat scroll 0 10px;
    height: 95px;
}
.global_footer .footer_message {
    border-top: 1px solid #f2f2f2;
    height: 60px;
    width: 100%;
}
.global_footer .footer_message div {
    background: rgba(0, 0, 0, 0) url("/page/img/img_e90c7c6d_footer.png") no-repeat scroll 379px 0;
    height: 60px;
    margin: 0 auto;
    width: 100%;
}
.to_up {
    background: rgba(0, 0, 0, 0) url("/page/img/img_e90c70f9_footer_up.png") no-repeat scroll 0 0;
    bottom: -40px;
    cursor: pointer;
    height: 40px;
    left: 50%;
    margin-left: 610px;
    position: fixed;
    transition: all 0.3s ease 0s;
    width: 40px;
    z-index: 20;
}
@media not all, not all {
    .global_footer .footer_message {
        border-top: 1px solid #f2f2f2;
        height: 60px;
        width: 100%;
    }
    .global_footer .footer_message div {
        background: rgba(0, 0, 0, 0) url("/page/img/img_e90c7310_footer2x.png") no-repeat scroll 0 0 / 100% auto;
        height: 60px;
        margin: 0 auto;
        width: 362px;
    }
}
body, ul, dl, dd, p, h1, h2, h3, hr, form, input, textarea, select {
    margin: 0;
    padding: 0;
}
li {
    list-style: outside none none;
}
h2 {
    font-weight: 400;
}
h3 {
    font-weight: 400;
}
img {
    border: 0 none;
}
body {
    background: #f2f2f2 none repeat scroll 0 0;
    color: #333;
    font-family: "Helvitica Neue",Helvitica,Arial,"Microsoft YaHei",sans-serif;
    font-size: 13px;
    line-height: 1.7;
}
.clear {
}
.clear::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.wrap {
    margin: 60px auto 0;
    position: relative;
    width: 100%;
    z-index: 1;
}
textarea, input {
    border: 1px solid #c4c8d0;
    font-size: 13px;
    outline: 0 none;
    padding: 12px;
}
textarea:focus, input:focus {
    border: 1px solid #abb0bc;
}
table {
    border: 0 none;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
}
button {
    background: #111 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    width: 120px;
}
blockquote {
    border-left: 1px solid #d5d5d5;
    color: #999;
    margin: 0 0 0 5px;
    padding: 0 0 0 9px;
}
textarea {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
    line-height: 16px;
    outline: 0 none;
    resize: none;
}
input {
    outline: 0 none;
}
a {
    color: #333;
    text-decoration: none;
}
.zealer {
    color: #1763a7;
    font-weight: 400;
}
.title h3 {
    color: #fff;
    float: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    text-indent: 30px;
}
#main {
    overflow: hidden;
    width: 100%;
}
.global_dialog {
    background: rgba(236, 238, 241, 0.96) none repeat scroll 0 0;
    border: 1px solid #ccc;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.global_dialog .dialog_closebg {
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
}
.global_dialog .dialog_inner {
    background: #fff none repeat scroll 0 0;
    height: 410px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 800px;
    z-index: 9999;
}
.global_dialog .dialog_inner .dialog_title {
    position: relative;
}
.global_dialog .dialog_inner .dialog_title .dialog_close {
    color: #fff;
    font-weight: 700;
    margin-top: -10px;
    position: absolute;
    right: 12px;
    top: 50%;
}
.global_dialog .dialog_inner .dialog_btn {
    text-align: right;
}
.global_dialog .dialog_inner .dialog_btn .btn_ok {
    margin-right: 10px;
}
.global_dialog .dialog_inner .dialog_btn .btn_cancel {
    margin-right: 20px;
}
.global_dialog .pop_image {
    background-image: url("/page/img/img_0ce3e0e0_pop.png");
    background-repeat: no-repeat;
}
.global_dialog .pop_close {
    background-position: 0 0;
    cursor: pointer;
    height: 10px;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 10px;
}
.global_address .selMain, .global_date .selMain {
    background: #fff none repeat scroll 0 0;
    height: 28px;
    position: relative;
    width: 100px;
}
.global_address .selMain p, .global_date .selMain p {
    border: 1px solid #c4c8d0;
    color: #31343b;
    font-size: 14px;
    line-height: 28px;
    text-indent: 10px;
}
.global_address .selMain .btn, .global_date .selMain .btn {
    background: rgba(0, 0, 0, 0) url("/page/img/img_0ce3e03c_addr_icon.png") no-repeat scroll 0 0;
    height: 4px;
    position: absolute;
    right: 14px;
    top: 13px;
    width: 7px;
}
.global_address dd, .global_date dd {
    float: left;
    margin: 0 15px 0 0;
}
.global_address input, .global_date input {
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
}
.global_address .addrClick, .global_date .addrClick {
    cursor: pointer;
}
.global_address .fItem2, .global_date .fItem2 {
    width: 130px;
}
.global_address .fItem3, .global_date .fItem3 {
    width: 130px;
}
.global_address .srhList, .global_date .srhList {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: -moz-use-text-color #c4c8d0 #c4c8d0;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    color: #575d6a;
    display: none;
    height: 200px;
    overflow-y: scroll;
    position: relative;
    z-index: 1;
}
.global_address .srhList li, .global_date .srhList li {
    cursor: pointer;
    line-height: 30px;
    margin: 0 1px;
    text-align: center;
}
.global_page {
    margin-bottom: 20px;
    margin-top: 20px;
}
.global_page a {
    background-color: #f7f7f7;
    color: #1763a7;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}
.global_page .curr {
    background-color: #1763a7;
    color: #fff;
}
.global_page span {
    display: inline-block;
    height: 40px;
    width: 20px;
}
.page_center {
    margin-top: 60px;
    text-align: center;
}
.page_center .global_page a {
    background-color: #fbfbfb;
}
.page_center .global_page .curr {
    background-color: #111;
}
.load_wrap {
    margin-top: 100px;
    text-align: center;
}
.load_wrap .loading {
    background: rgba(0, 0, 0, 0) url("/page/img/img_0ce3ea20_loading_x2.gif") no-repeat scroll 0 0;
    display: inline-block;
    height: 100px;
    width: 100px;
}
.tool_icons {
    background-image: url("/page/img/img_0ce3e77f_tool_icons.png");
    background-repeat: no-repeat;
    cursor: pointer;
}
.tool_currPhone {
    background-position: 0 -3163px;
    color: #080808;
    cursor: default;
    display: inline-block;
    font-size: 14px;
    padding-left: 20px;
}
.tool_compPhone {
    background-position: 0 -3196px;
    color: #e44287;
    cursor: default;
    display: inline-block;
    font-size: 14px;
    line-height: 27px;
    padding-left: 20px;
}
.tool_compPhone a {
    cursor: default;
}
.global_header {
    background: #000 none repeat scroll 0 0;
    display: none;
    opacity: 0.96;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.global_header .header_inner {
    color: #fff;
    font-size: 13px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    width: 100%;
}
.global_header .header_inner .inner_logo {
    background: rgba(0, 0, 0, 0) url("/page/img/img_9c17cde7_logo.png") no-repeat scroll 0 0;
    float: left;
    height: 23px;
    margin-right: 16px;
    margin-top: 19px;
    width: 85px;
}
.global_header .header_inner .inner_nav {
    float: left;
    padding-left: 13px;
    text-align: center;
    width: 500px;
}
.global_header .header_inner .inner_nav a {
    color: #fff;
    float: left;
    height: 60px;
    margin-left: 22px;
}
.global_header .header_inner .inner_nav .app_area {
    background: #000 url("/page/img/img_9c17c24c_app.png") no-repeat scroll center center;
    display: none;
    height: 500px;
    left: 0;
    position: absolute;
    width: 100%;
}
.global_header .header_inner .inner_login {
    float: right;
}
.global_header .header_inner .inner_login .login_in {
    color: #fff;
    padding-right: 5px;
}
.global_header .header_inner .inner_login .logoutCss {
    color: #fff;
}
.global_header .header_inner .inner_account {
    display: none;
    float: right;
    position: relative;
}
.global_header .header_inner .inner_account .account_message {
    cursor: pointer;
    float: left;
    padding: 0 11px;
    text-align: center;
}
.global_header .header_inner .inner_account .account_letter {
    cursor: pointer;
    float: left;
    padding: 0 11px;
    text-align: center;
}
.global_header .header_inner .inner_account .account_user {
    cursor: pointer;
    float: left;
    height: 60px;
    width: 50px;
}
.global_header .header_inner .inner_account .account_user .img_link {
    border-radius: 15px;
    display: inline-block;
    height: 24px;
    margin-left: 11px;
    margin-top: -4px;
    overflow: hidden;
    vertical-align: middle;
    width: 24px;
}
.global_header .header_inner .inner_account .account_user .img_link .user_img {
    float: right;
    height: 24px;
    width: 24px;
}
.global_header .header_inner .inner_account .account_user .user_active {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e6e6e6;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
    color: #575d6a;
    left: 60px;
    position: absolute;
    text-align: center;
    top: 60px;
    width: 100px;
}
.global_header .header_inner .inner_account .account_user .user_active a {
    display: inline-block;
    float: left;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    width: 100%;
}
.global_header .header_inner .inner_account .account_user .user_arrow {
    background: rgba(0, 0, 0, 0) url("/page/img/img_9c17cde7_logo.png") no-repeat scroll -85px 0;
    float: right;
    height: 4px;
    margin-top: 28px;
    width: 8px;
}
.global_header .header_inner .inner_account .account_list {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e6e6e6;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
    font-size: 12px;
    position: absolute;
    top: 60px;
    width: 270px;
}
.global_header .header_inner .inner_account .account_list .list_detail {
    border-bottom: 1px solid #e6e6e6;
    color: #666;
    float: left;
    height: 40px;
    line-height: 40px;
    margin: 0 9px;
    text-align: center;
    width: 252px;
}
.global_header .header_inner .inner_account .account_list .list_detail span {
    color: #3a7dda;
}
.global_header .header_inner .inner_account .account_list .list_btn {
    border-top: 1px solid #e6e6e6;
    float: left;
    height: 38px;
    margin-top: -1px;
    text-align: center;
    width: 268px;
}
.global_header .header_inner .inner_account .account_list .list_btn a {
    border-right: 1px solid #e6e6e6;
    color: #666;
    float: left;
    height: 38px;
    line-height: 38px;
    width: 132px;
}
.global_header .header_inner .inner_account .account_list .list_btn .no_message {
    border: 0 none;
    display: inline-block;
    width: 100%;
}
.global_header .header_inner .inner_account .account_list .list_btn span {
    color: #666;
    cursor: pointer;
    float: left;
    height: 38px;
    line-height: 38px;
    width: 134px;
}
.global_header .header_inner .inner_account .account_list_arrow {
    height: 11px;
    left: 126px;
    position: absolute;
    top: -11px;
    width: 20px;
}
.global_header .header_inner .inner_account .message_list {
    display: none;
    left: -110px;
}
.global_header .header_inner .inner_account .sms_list {
    display: none;
    left: -60px;
}
.account_list {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e6e6e6;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
    display: none;
    font-size: 12px;
    position: absolute;
    top: 60px;
    width: 270px;
}
.account_list .list_detail {
    border-bottom: 1px solid #e6e6e6;
    color: #666;
    float: left;
    height: 40px;
    line-height: 40px;
    margin: 0 9px;
    text-align: center;
    width: 252px;
}
.account_list .list_detail span {
    color: #3a7dda;
}
.account_list .list_btn {
    border-top: 1px solid #e6e6e6;
    float: left;
    height: 38px;
    margin-top: -1px;
    text-align: center;
    width: 268px;
}
.account_list .list_btn a {
    border-right: 1px solid #e6e6e6;
    color: #666;
    float: left;
    height: 38px;
    line-height: 38px;
    width: 132px;
}
.account_list .list_btn .no_message {
    border: 0 none;
    display: inline-block;
    width: 100%;
}
.account_list .list_btn span {
    color: #666;
    cursor: pointer;
    float: left;
    height: 38px;
    line-height: 38px;
    width: 134px;
}
.account_list_arrow {
    height: 11px;
    left: 126px;
    position: absolute;
    top: -11px;
    width: 20px;
}
.message_list {
    left: -110px;
}
.sms_list {
    display: none;
    left: -60px;
}
.user_active {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e6e6e6;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
    color: #575d6a;
    display: none;
    left: 80px;
    position: absolute;
    text-align: center;
    top: 40px;
    width: 100px;
}
.user_active a {
    display: inline-block;
    float: left;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    width: 100%;
}
.page_header {
    background: #1a1a1a none repeat scroll 0 0;
    display: none;
    height: 40px;
    position: relative;
    width: 100%;
    z-index: 110;
}
.page_header .header_inner {
    height: 40px;
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.page_header .header_inner .inner_login {
    float: right;
    line-height: 40px;
}
.page_header .header_inner .inner_login .login_in {
    border-right: 1px solid #fff;
    color: #fff;
    padding-right: 3px;
}
.page_header .header_inner .inner_login .logoutCss {
    color: #fff;
    margin-left: 1px;
}
.page_header .header_inner .inner_nav {
    float: left;
    font-size: 0;
}
.page_header .header_inner .inner_nav .nav_arrow {
    background: rgba(0, 0, 0, 0) url("/page/img/img_9c17ce22_media_header.png") no-repeat scroll -158px 0;
    bottom: 0;
    height: 5px;
    left: 56px;
    position: absolute;
    width: 12px;
}
.page_header .header_inner .inner_nav a {
    color: #fff;
    float: left;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    margin-right: 25px;
}
.page_header .header_inner .inner_account {
    color: #fff;
    display: none;
    float: right;
    line-height: 40px;
    position: relative;
}
.page_header .header_inner .inner_account .account_list {
    top: 40px;
}
.page_header .header_inner .inner_account .account_message {
    cursor: pointer;
    float: left;
    padding: 0 10px;
    text-align: center;
}
.page_header .header_inner .inner_account .account_letter {
    cursor: pointer;
    float: left;
    padding: 0 10px;
    text-align: center;
}
.page_header .header_inner .inner_account .account_user {
    cursor: pointer;
    float: left;
    height: 40px;
    width: 50px;
}
.page_header .header_inner .inner_account .account_user .user_link {
    border-radius: 15px;
    display: inline-block;
    height: 24px;
    margin-left: 11px;
    margin-top: -3px;
    overflow: hidden;
    vertical-align: middle;
    width: 24px;
}
.page_header .header_inner .inner_account .account_user .user_link .user_img {
    border-radius: 12px;
    float: right;
    height: 24px;
    width: 24px;
}
.page_header .header_inner .inner_account .account_user .user_arrow {
    background: rgba(0, 0, 0, 0) url("/page/img/img_9c17ce22_media_header.png") no-repeat scroll -158px -5px;
    float: right;
    height: 4px;
    margin-top: 18px;
    width: 8px;
}
.header_fix {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.mask_login {
    display: none;
}
.wrap2 {
    padding: 40px 90px;
}
.wrap2 .row_text, .wrap2 .re_me, .wrap2 .foget, .wrap2 .toreg_btn {
    background-image: url("pop.png");
    background-repeat: no-repeat;
}
.wrap2 .sub2_btn {
    background-image: url("pop.png");
    background-position: 0 -373px;
    background-repeat: no-repeat;
    border: 0 none;
    color: #fff !important;
    cursor: pointer;
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 120px;
}
.wrap2 .sub2_btn:hover {
    background-position: 0 -434px;
}
.wrap2 .logo2 {
    background-image: url("logo1.png");
    background-repeat: no-repeat;
    height: 40px;
}
.wrap2 .main {
    color: #757e91;
    margin-top: 18px;
}
.wrap2 .main a {
    color: #757e91;
    text-decoration: none;
}
.wrap2 .main .main_left {
    border-right: 1px solid #abb0bc;
    float: left;
    padding-right: 60px;
    width: 350px;
}
.wrap2 .main .main_left .left_row {
    margin-bottom: 22px;
    position: relative;
}
.wrap2 .main .main_left .left_row .row_text {
    background-position: 12px -158px;
    border: 1px solid #757e91;
    height: 14px;
    padding: 12px 0 12px 35px;
    width: 315px;
}
.wrap2 .main .main_left .left_row .row_text.password {
    background-position: 12px -192px;
}
.wrap2 .main .main_left .left_row .row_text.verification {
    background-color: #fff;
    background-position: 12px -321px;
    float: left;
    text-indent: 0;
    width: 193px;
}
.wrap2 .main .main_left .left_row .ver_login_code {
    cursor: pointer;
    float: left;
}
.wrap2 .main .main_left .left_row .ver_login_code img {
    cursor: pointer;
    height: 40px;
    width: 100px;
}
.wrap2 .main .main_left .left_row .re_me {
    background-position: 2px -234px;
    cursor: pointer;
    padding-left: 20px;
}
.wrap2 .main .main_left .left_row .re_me.select {
    background-position: 2px -264px;
}
.wrap2 .main .main_left .left_row .re_me a {
    text-decoration: none;
}
.wrap2 .main .main_left .left_row .foget {
    background-position: 2px -293px;
    padding-left: 20px;
    position: absolute;
    right: 0;
    top: 0;
}
.wrap2 .main .main_left .left_row .toreg_btn {
    background-color: #eceef1;
    background-position: 0 -234px;
    height: 40px;
    line-height: 40px;
    padding-left: 19px;
    position: absolute;
    right: 0;
    top: 0;
}
.wrap2 .main .main_right {
    float: left;
    margin-left: 60px;
}
.wrap2 .main .main_right .qq {
    background: rgba(0, 0, 0, 0) url("login_icon.png") no-repeat scroll 0 -160px;
    display: block;
    height: 40px;
    margin-top: 20px;
    width: 120px;
}
.wrap2 .main .main_right .qq:hover {
    background-position: 0 -200px;
}
.wrap2 .main .main_right .weibo, .wrap2 .main .main_right .toreg {
    background: rgba(0, 0, 0, 0) url("login_icon.png") no-repeat scroll 0 -80px;
    display: block;
    height: 40px;
    width: 120px;
}
.wrap2 .main .main_right .weibo:hover, .wrap2 .main .main_right .toreg:hover {
    background-position: 0 -120px;
}
.wrap2 .main .main_right .toreg {
    background-position: 0 0;
    margin-bottom: 20px;
}
.wrap2 .main .main_right .toreg:hover {
    background-position: 0 -40px;
}
@media not all, not all {
    .global_header .header_inner .inner_logo {
        background: rgba(0, 0, 0, 0) url("/page/img/img_9c17c66a_logo2.png") no-repeat scroll 0 0 / 85px 25px;
        height: 25px;
        margin-top: 17.5px;
    }
}
